body {
    background-color: palegoldenrod;
}

#game-grid {
    background-color: gray;
    display: grid;
    justify-content: center;
    align-items: center;
}

.game-cell {
    --cell-color: white;
    background-color: var(--cell-color);
    width: 32px;
    height: 32px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
}

.game-cell.player-1 {
    --cell-color: lightblue;
}

.game-cell.player-2 {
    --cell-color: pink;
}