body {
    background-color: palegoldenrod;
}

#game-grid {
    background-color: gray;
    display: grid;
    justify-content: center;
    align-items: center;
}

.game-cell {
    --cell-size: 128px;
    --cell-color: white;
    background-color: var(--cell-color);
    width: var(--cell-size);
    height: var(--cell-size);
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
}

.game-cell.player-1 {
    --cell-color: lightblue;
}

.game-cell.player-2 {
    --cell-color: pink;
}

.game-cell.small {
    --cell-size: 32px;
}

.game-cell.medium {
    --cell-size: 96px;
}

.game-cell.large {
    --cell-size: 128px;
}

.pie {
    --pie-color: green;
    clip-path: circle(35% at center);
    width: 100%;
    height: 100%;
}

.pie.player-1 {
    --pie-color: blue;
}

.pie.player-2 {
    --pie-color: red;
}